body {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
}

.container {
    text-align: center;
}


.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.pixel-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #fbc2eb 0%, #a6c1ee 100%);
    border: 4px solid #7a288a;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3);
    width: 320px;
    z-index: 1000;
}

.pixel-title-bar {
    background-color: #7a288a;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.pixel-close {
    background: none;
    border: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

.pixel-window-body {
    padding: 15px;
}

.content-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.pixel-heart {
    font-size: 50px;
    filter: drop-shadow(4.5px 4.5px 0px #7a288a);
}

.pixel-text {
    font-size: 13px;
    color: #4a0e4e;
    line-height: 1.6;
}

.pixel-btn {
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    border: 3px solid #7a288a;
    padding: 8px;
    cursor: pointer;
    font-size: 10px;
    box-shadow: 4px 4px 0px #7a288a;
    transition: all 0.1s;
}

.start-btn {
    max-width: 250px;
    line-height: 1.5;
}

.pixel-btn:hover {
    background-color: #f0f0f0;
}

.pixel-btn:active {
    box-shadow: 0px 0px 0px;
    transform: translate(4px, 4px);
}

.button-row {
    text-align: right;
}